* {
    font-family: "Source Code Pro", monospace, monospace;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding:  10px;
}

body > main {
    flex: 1 1;
}


textarea.editor__text {
    flex-grow: 1;
}

.editor__text {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    overflow: scroll;
    padding: 10px;
    display: block;
    margin: 0;
}

.panelbox {
    display: flex;
}

.panel,
.panel__contents {
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

.panel--collapsed {
    flex-grow: 0;
}

.panel--collapsed .panel__contents {
    display: none;
}

.panel--collapsed .panel__label {
    display: block;
    transform: rotate(90deg);
    white-space: nowrap;
    position: absolute;
    transform-origin: bottom left;
}